#gallery .searchbar{
    min-width: 200px;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background: white;
    margin-bottom: 20px;
}
#gallery .searchbar i{
    font-size: 1.5rem;
    color:gray;
}
#gallery .searchbar input{
    outline: none;
    width: 100%;
    border: none;
    padding-left: 5px;
}
#gallery .menu-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: antiquewhite;
    padding: 10px;
}

.toolbox-button{
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;
    background: silver;
    transition: all .3s;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.toolbox-button:hover{
    transform: scale(1.05);
}
.toolbox-button.active{
    background: orange;
}
.toolbox-button span{
    color:white;
    font-weight: bold;
    align-self: center;
}
h3{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.vc-container {
    width: 100%;
}
.tags-input-root{
    margin-bottom: 10px !important;
}
.image-card{
    width: 100%;
    background: white;
    margin-bottom: 10px;
}
.image-card .date-container{
    width: 100%;
    padding: 8px;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    gap: 2px;
}
.image-card .content{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-card .action-right{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.row{
    margin: unset !important;
    padding: 0 !important;
}
.col{
    padding: 0 !important;
}
.image-card .action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.image-card .action-btn i {
    color:white;
}
.image-card .action-btn{
    height: 100%;
    cursor: pointer;
    transition: all .3s;
}
.image-card .action-btn:hover{
    transform: scale(1.05);
}
.image-card .action-btn:active{
    filter: brightness(75%);
}
h4{
    text-align: center;
    margin: 0;
    padding: 0;
}
.image-card .bottom-title{
    padding: 5px;
}
.tab-body-paginate{
    display:flex;
    justify-content: center;
    align-items: center;
}
.tab-body-paginate .limit-page{
    width:30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #7D8FA7;
    cursor:pointer;
    transition:all .5s;
    color:white !important;
}
.current-page p{
    color:white !important;
}
.limit-page:hover{
    transform: scale(1.01);
    background-color: #01B4E1;
    border:none;
}
.limit-page:hover p {
    color:white !important;
}

.tab-body-paginate .current-page{
    width:50px;
    height:50px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background: #0681FF;
    color:white;
    margin:3px;
    pointer-events: none;
    transition:all .5s;
}
.current-page:hover{
    transform: scale(1.01);
    background-color: white;
    color:black;
    border:1px solid #01B4E1;
}
.temp-bascule{
    margin-left:15px;
    text-transform: uppercase;
    margin-right:15px;
    display: block;
    transition: all .5s;
    border-radius: 3px;
    cursor:pointer;
    padding:5px;
}
p{
    margin-bottom: 0;
}

.vc-container{
    width: 100% !important;
}