[annonce].pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
[fiche_annonce] td.title{
    text-align: center;
}
[fiche_annonce] td.number{
    text-align: right;
}
[fiche_annonce] td.text{
    text-align: center;
}