#dashboard h3{
    width: 100%;
    text-align: center;
}
.month_search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 10px;
}
.month_search i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .4s;
}
.month_search i:hover{
    transform: scale(1.1);
}
.month_search h4{
    margin-bottom: 0;
}
#dashboard .col-md-4,.col-md-6{
    margin-bottom: 15px;
}
#dashboard .card{
    height: 100%;
}
.filter-top{
    width: fit-content;
    padding: 10px;
    background: orange;
    border-radius: 4px;
    margin-bottom: 20px;
}