.round-button{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 1.5rem;
    background: red;
    height: 1.5rem;
}
.round-button i{
    width: .75rem;
    height: .75rem;
    font-size: .75rem;
}
